<p-dialog [visible]="isEditDialog()" [style]="{width: '70vw'}" header="Commande" [modal]="true" styleClass="p-fluid"
          [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Commande">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">titre<span style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="titre" id="1"
                               [(ngModel)]="commande.titre"/>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">description<span style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="description" id="2"
                               [(ngModel)]="commande.description"/>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">produiteur<span style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="produiteur" id="3"
                               [(ngModel)]="commande.produiteur"/>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">categorie<span style="color: red;">*</span></label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="categorie" id="4"
                               [(ngModel)]="commande.categorie"/>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined"
                        (click)="hideEditDialog()"></button>
            </div>
            <div>
                <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px"
                        (click)="edit()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>
